* {
  color: #ececec;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
}

.mainLayout {
  display: flex;
  width: 100%;
  height: 100vh;
}


body {
  margin: 0;
  padding: 0;
}

